.container {
  height: 100vh;
}
 
.form-signin {
  width: 330px;
  padding: 15px;
  margin: auto;
}
 
.form-signin .checkbox {
  font-weight: 400;
  margin: 10px 0;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
 
.form-signin input {
  margin-top: 4px;
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-primary{
  margin-top: 5px;
  width: 180px;
  border: 1px;
  background-color: #5B8BE1;
  color: white;
}
 
